@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Lobster', cursive;
}

:root {
    --pad-border-small: 5px rgb(34, 30, 30) solid;
    --pad-border-large: 10px rgb(34, 30, 30) solid;
    --grid-border: 1px grey solid;
    --small-size: 350px;
    --large-size: 550px;
}

body {
    position: relative;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    height: 150px;
    padding-top: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.form {
    width: var(--small-size);
    height: 130px;
    text-align: center;
}

label {
    margin: auto;
}

.submit {
    margin-top: 20px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.submit button {
    width: 100px;
    border-radius: 10px;
}

.pad {
    background-color: grey;
    border: var(--pad-border-small);
    margin-bottom: 30px;
    height: var(--small-size);
    width: var(--small-size);
    display: grid;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.801);
}

.grid-gap {
    gap: 1px;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    height: 15px;
    bottom: 10px;
    right: 10px;
    font-size: 15px;
}

.grid {
    background-color: white;
}

.picked-color {
    display: inline-block;
    width: 14px;
    height: 14px;
}

.selected {
    background-color: rgb(172, 172, 172);
}

@media (min-width: 700px) {
    * {
        font-size: 25px;
    }
    h1 {
        font-size: 50px;
    }
    .submit {
        height: 45px;
    }
    .submit button {
        width: 150px;
    }
    .pad {
        height: var(--large-size);
        width: var(--large-size);
        border: var(--pad-border-large);
    }
    .form {
        width: var(--large-size);
        height: 180px;
    }
    .picked-color {
        width: 23px;
        height: 23px;
    }
}